@charset 'UTF-8';

$color_l: #fff;
$color_d: #fff;
$color_b: #333;
$color_bg: #ddd;
$blue: #337799;

@-webkit-keyframes rumble{
	0%	{transform:rotate(0deg)	translate(0,0);}
	12.5%	{transform:rotate(0.4deg)	translate(1px,-1px);}
	25%	{transform:rotate(0.8deg)	translate(0px,1px);}
	37.5%	{transform:rotate(0.4deg)	translate(-1px,0);}
	50%	{transform:rotate(0deg)	translate(0,0);}
	62.5%	{transform:rotate(-0.4deg)	translate(1px,0);}
	75%	{transform:rotate(-0.8deg)	translate(0,1px);}
	87.5%	{transform:rotate(-0.4deg)	translate(-1px,-1px);}
	100%	{transform:rotate(0deg)	translate(0,0);}
}
@-moz-keyframes rumble{
	0%	{transform:rotate(0deg)	translate(0,0);}
	12.5%	{transform:rotate(0.4deg)	translate(1px,-1px);}
	25%	{transform:rotate(0.8deg)	translate(0px,1px);}
	37.5%	{transform:rotate(0.4deg)	translate(-1px,0);}
	50%	{transform:rotate(0deg)	translate(0,0);}
	62.5%	{transform:rotate(-0.4deg)	translate(1px,0);}
	75%	{transform:rotate(-0.8deg)	translate(0,1px);}
	87.5%	{transform:rotate(-0.4deg)	translate(-1px,-1px);}
	100%	{transform:rotate(0deg)	translate(0,0);}
}
@-o-keyframes rumble{
	0%	{transform:rotate(0deg)	translate(0,0);}
	12.5%	{transform:rotate(0.4deg)	translate(1px,-1px);}
	25%	{transform:rotate(0.8deg)	translate(0px,1px);}
	37.5%	{transform:rotate(0.4deg)	translate(-1px,0);}
	50%	{transform:rotate(0deg)	translate(0,0);}
	62.5%	{transform:rotate(-0.4deg)	translate(1px,0);}
	75%	{transform:rotate(-0.8deg)	translate(0,1px);}
	87.5%	{transform:rotate(-0.4deg)	translate(-1px,-1px);}
	100%	{transform:rotate(0deg)	translate(0,0);}
}
@keyframes rumble{
	0%	{transform:rotate(0deg)	translate(0,0);}
	12.5%	{transform:rotate(0.4deg)	translate(1px,-1px);}
	25%	{transform:rotate(0.8deg)	translate(0px,1px);}
	37.5%	{transform:rotate(0.4deg)	translate(-1px,0);}
	50%	{transform:rotate(0deg)	translate(0,0);}
	62.5%	{transform:rotate(-0.4deg)	translate(1px,0);}
	75%	{transform:rotate(-0.8deg)	translate(0,1px);}
	87.5%	{transform:rotate(-0.4deg)	translate(-1px,-1px);}
	100%	{transform:rotate(0deg)	translate(0,0);}
}

* {
	margin: 0;
	padding: 0;
	color: $color_b;
}

html {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 10px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column nowrap;
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 10px;
}

.header {
	width: 100%;
	height: 60px;
	background-color: $color_l;

	h1 {
		padding-left: 120px;
		font-family: 'Press Start 2P', cursive;
		font-size: 4.0rem;
		line-height: 6.0rem;

		&:after {
			content: '_';
		}
	}
}

.content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 1;
	flex-flow: row nowrap;
	align-items: stretch;
}

.menu {
	width: 120px; //テスト
	background-color: $color_l;

	li {
		display: block;
		padding: 10px 5px;
		// color: $blue;
		color: $color_b;
		font-size: 1.4rem;
		cursor: pointer;
		// font-family: 'Press Start 2P', cursive;
		font-weight: bold;
		transition: all 0.3s ease;

		&:not(:first-child) {
			margin-top: 20px;
		}

		&:hover {
			padding-left: 10px;
			opacity: 0.8;
			transition: all 0.3s ease;
		}
	}

	p {
		position: absolute;
		bottom: 10px;
		padding-left: 10px;
	}
}

.page {
	flex: 1;
	display: block;
	position: relative;
	background-color: #fff;
	box-sizing: border-box;
	border: solid 1px $color_b;
	overflow-y: scroll;
	overflow-x: hidden;

	&_content {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 20px;
	}

	&-enter {
		opacity: 0.01;
		left: 30px;
		transition: all 0.7s;

		&-active {
			opacity: 1;
			left: 0;
		}
	}

	&-leave {
		opacity: 1;
		transition: all 0.3s ease;

		&-active {
			opacity: 0.01;
		}
	}
}

.top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	&_content {
		text-align: center;

		img {
			width: 100px;
			height: 100px;
			
			&:hover {
				-webkit-animation: rumble 0.12s infinite;
				-moz-animation: rumble 0.12s infinite;
				-o-animation: rumble 0.12s infinite;
				animation: rumble 0.12s infinite;
			}
		}

		p {
			margin-top: 10px;
			font-size: 3.0rem;
			font-weight: bold;

			small {
				font-size: 1.4rem;
			}
		}
	}
}

.works {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column nowrap;
}

.work {
	width: 100%;
	height: 500px;
	display: block;
	margin-bottom: 20px;

	&_inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		box-sizing: border-box;
		padding-bottom: 40px;
		margin: 0 auto;
	}

	&_right {
		padding-left: 2%;
	}

	&_thumb {
		width: 100px;
		height: 100px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&_img {
		width: 300px;
		height: 300px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&_title {
		h3 {
			font-size: 2.0rem;
		}
	}

	&_time {
		font-size: 1.2rem;
	}

	&_caption {
		margin-top: 20px;
		p {
			font-size: 1.4rem;
		}
	}

	&_text {
		p {
			padding: 20px 0;
			font-size: 1.4rem;
		}
	}

	&_link {
		position: relative;
		left: 0;
		padding: 5px 10px;
		background-color: $blue;
		color: #fff;
		font-family: 'Press Start 2P', cursive;
		font-size: 2.0rem;
		transition: all 0.3s ease;

		&:hover {
			transition: all 0.3s ease;
			opacity: 0.8;
			left: 5px;
		}
	}

	&-enter {
		opacity: 0.01;

		&-active {
			opacity: 1;
			transition: all 0.3s ease;
		}
	}

	&-leave {
		opacity: 1;

		&-active {
			opacity: 0.01;
			transition: all 0.3s ease;
		}
	}
}

.about {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	flex-flow: row nowrap;
	background-size: 80% auto;
	background-repeat: no-repeat;
	background-position: right;

	&_link {
		padding: 5px 10px;
		color: #fff;
		background-color: #337799;
		font-family: 'Press Start 2P', cursive;
		font-size: 2.0rem;
		transition: all 0.3s ease;

		&:hover {
			margin-left: 5px;
			opacity: 0.8;
			transition: all 0.3s ease;
		}
	}

	&_basics {
		.name {
			font-size: 2.0rem;
			font-weight: bold;
		}

		.info {
			margin: 20px 0 5px;
			font-size: 1.4rem;
			font-weight: bold;
		}
	}

	&_history {
		margin-top: 80px;

		p {
			font-size: 1.8rem;
			margin-top: 20px;
		}
	}
}

.contact {
	&_topic {
		font-size: 1.4rem;
		font-weight: bold;
		padding-bottom: 10px;

		&:not(:first-child) {
			margin-top: 40px;
		}
	}

	&_link {
		padding: 5px 10px;
		color: #fff;
		background-color: #337799;
		font-family: 'Press Start 2P', cursive;
		font-size: 4.0rem;
		transition: all 0.3s ease;

		&:hover {
			margin-left: 5px;
			opacity: 0.8;
			transition: all 0.3s ease;
		}
	}
}